.header-container {
    display: flex;
    align-items: center;
    background-color: #3f51b5;
    padding: 4px;
    color: white;
}
  
.header-title {
    font-size: 24px;
    font-weight: bold;
    margin: 0;
    margin-left: 8px;
    flex: 1;
}
  
button[mat-icon-button] {
    color: white;
    margin-right: 8px;
}