
<!-- Shared Toolbar Component -->
<app-toolbar
  title="Character List"
  [showBackButton]="false"
></app-toolbar>

<!-- Shared Search Component -->
<app-search (searchChanged)="onSearch($event)"></app-search>

<mat-paginator #paginator [disabled]="isLoading" [length]="totalPages * 10" [pageSize]="10" (page)="onPageChange($event)"></mat-paginator>

<div class="main-container" [ngClass]="{'list-container': !characters.length}">
<!-- Custom Library for Loader -->
  <lib-star-war-loader [isLoading]="isLoading"></lib-star-war-loader>

  <div [ngClass]="{'full-height': !characters.length}" *ngIf="!isLoading">
    <!-- Mobile View -->
    <div *ngIf="isMobile$ | async; else desktopView">
      <div class="character-container">
        <mat-card *ngFor="let character of characters" class="character-card" (click)="goToDetails(character.url)">
          <mat-card-header class="character-header">
            <mat-card-title class="character-title">{{ character.name }}</mat-card-title>
          </mat-card-header>
          <mat-card-content class="character-content">
            <p class="character-details"><strong>Height:</strong> {{ character.height }}</p>
            <p class="character-details"><strong>Mass:</strong> {{ character.mass }}</p>
          </mat-card-content>
        </mat-card>
      </div>
    </div>
    <!-- Desktop View -->
    <ng-template #desktopView>
      <!-- Shared Table Component -->
      <app-table *ngIf="characters.length"
        [dataSource]="characters"
        [columnDefs]="columnDefs"
        (rowClicked)="goToDetails($event.url)">
      </app-table>
    </ng-template>

    <!-- No record found on search -->
    <div class="no-record" *ngIf="!characters.length">
      <h4>No Record Found!</h4>
    </div>
  </div>
</div>
